<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <title>Todo List</title>
  </head>
  <body>
    <form class="" action="/" method="post">
      <div class ="task-input">
        <label for="task"></label>
        <input type="text" name="task" value="" placeholder="Add a task to ... do">
        <button type = "submit">Add Task</button>
      </div>
      <div class = "incomplete-tasks">
        <ul>
          <li>
            <button type = "submit">Mark as Complete</button> Have a Nice Day
          </li>
          {{#todo}}
            <li>
            <button type="submit" name = "tocomplete" value = "{{.}}"> Mark as Complete</button>{{.}}
            </li>
          {{/todo}}
        </ul>
      </div>
      <div class = "completed-tasks">
        <h2>Completed Tasks</h2>
        <ul>
          {{#complete}}
            <li>{{.}}</li>
          {{/complete}}
          <li>Climb Mount Everest</li>
          <li>Become a Millionaire</li>
          <li>Be Awesome</li>

        </ul>
      </div>
    </form>
  </body>
</html>
